@font-face {
    font-family: 'Valorant';
    src: url('fonts/dinnextw1g_bold.otf') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Valorant2';
    src: url('fonts/Tungsten\ Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Valorant3';
    src: url('fonts/Valorant\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-top: 0px;
    font-family: 'Valorant';
    background-image: url("images/Ep8a1_Defiance_Riot\ Client\ Login\ Page\ 1440p.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #1e1e27;
}

h1 {
    display: block;
    background-color: #1e1e27;
    color:#ffffff;
    padding: 16px;
    margin: auto;
    max-width: 100%;
    margin-bottom: 24px;
    text-align: center;
    font-family: 'Valorant3';
}

h3 {
    color: #ffffff;
    margin-top: 24px;
}

.skin-card {
    background-color: rgb(42, 28, 92);
    border-radius: 12px;
    padding: 16px;
    margin: auto;
    max-width: 1500px;
    color: #ffffff;
    margin-bottom: 10px;
}

.skin-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
    margin: auto;
}

.container {
    max-width: 1500px;
    background-color: #7c6ca0;
    margin: 0 auto;
    display: block;
    border-radius: 13px;
}

.hidden {
    display: none;
}

.toggle-btn {
    margin: 8px 0;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: #1f1549;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Valorant';
}

.favorites-section {
    margin: 8px 0;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: none;
    color: #ffffff;
    font-family: 'Valorant';
}

.favorites-form {
    border: none;
    font-family: 'Valorant';
    padding: 16px;
    margin: auto;
    max-width: 1000px;
}

footer {
    text-align: center;
    color: #ffffff;
    font-family: 'Valorant';
}

.btn-send {
    margin: auto;
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    background-color: #1f1549;
    color: #ffffff;
    cursor: pointer;
    width: 200px;
    text-align: center;
    font-family: 'Valorant';
}

fieldset {
    font-family: 'Valorant';
    margin: auto;
    max-width: 600px;
    padding: 20px;

}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 100px;
    margin-right: 15px;
    flex-shrink: 0;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc
}